@use '../../styles/index.module.scss' as *;

.redBtn{
    color: var(--colors-white);
    background: var(--colors-red);
    display: inline-block;
    text-decoration: none;
    font-size: var(--fontSizes-12);
    letter-spacing: var(--letterSpacings-0);
    height: 3rem;
    min-width: 9.875rem;
    padding: 0 var(--space-5);
    border-width: var(--borderWidths-2);
    border-style: solid;
    border-color: transparent;
    font-family: var(--fonts-MaisonNeue);
    text-transform: uppercase;
    font-weight: var(--fontWeights-bold);
    cursor: pointer;
    @include tablet {
        font-size: var(--fontSizes-12);
        letter-spacing: var(--letterSpacings-0);
    }

    @include desktopWide {
        height: 3.75rem;
        min-width: 13.75rem;
        font-size: var(--fontSizes-13);
        letter-spacing: var(--letterSpacings-0);
    }
}

.redBtn:hover{
    background: var(--colors-redHover);
}

.blackBtn {
    color: var(--colors-white);
    background: var(--colors-neutral3);
    border-color: var(--colors-neutral20);
    display: inline-block;
    text-decoration: none;
    font-size: var(--fontSizes-12);
    letter-spacing: var(--letterSpacings-0);
    height: 3rem;
    min-width: 9.875rem;
    padding: 0 var(--space-5);
    border-width: var(--borderWidths-2);
    border-style: solid;
    font-family: var(--fonts-MaisonNeue);
    text-transform: uppercase;
    font-weight: var(--fontWeights-bold);
    cursor: pointer;

    @include tablet {
        font-size: var(--fontSizes-12);
        letter-spacing: var(--letterSpacings-0);
    }

    @include desktopWide {
        height: 3.75rem;
        min-width: 13.75rem;
        font-size: var(--fontSizes-13);
        letter-spacing: var(--letterSpacings-0);
    }
}

.blackBtn:hover{
    background: var(--color-neutral3);
    border-color: var(--color-neutral40);
}

.btnContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btnSVG {
    ---rotation: 0deg;
    transform: rotate(var(---rotation));
}

.redClickBtn{
    padding: 0 var(--space-5);
    border-width: var(--borderWidths-2);
    border-style: solid;
    border-color: transparent;
    font-family: var(--fonts-MaisonNeue);
    text-transform: uppercase;
    font-weight: var(--fontWeights-bold);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-20);
    color: var(--colors-white);
    background: var(--colors-red);
    font-size: var(--fontSizes-12);
    letter-spacing: var(--letterSpacings-0);
    height: 3rem;
    min-width: 9.875rem;
    @include tablet {
        min-width: 10.625rem;
    }
    @include desktop {
        margin-top: var(--space-24);
    }
    @media (min-width:105em) {
        height: 3.75rem;
        min-width: 13.75rem;
        font-size: var(--fontSizes-13);
        letter-spacing: var(--letterSpacings-0);
    }
}

.clickBtnContent{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}