@use '../../../styles/index.module.scss' as *;

.bannerSection {
    font-size: var(--fontSizes-64);
    letter-spacing: var(--letterSpacings-1);
    line-height: 0.95;
    ---linkUnderlineHeight: 4px;
    ---textUnderlineOffset: 4px;
    margin: 0px;
    color: var(--colors-title) !important;
    font-family: var(--fonts-Rift) !important;
    zoom: 1.001;
    font-weight: var(--fontWeights-bold);
    text-transform: uppercase;
    font-feature-settings: 'tnum';

    @media(min-width: 120em) {
        font-size: var(--fontSizes-240);
        letter-spacing: var(--letterSpacings-2);
        line-height: 0.85;
        ---linkUnderlineHeight: 10px;
        ---textUnderlineOffset: 10px;
    }

    @include desktop {
        font-size: var(--fontSizes-176);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }

    @include tablet {
        font-size: var(--fontSizes-128);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 6px;
        ---textUnderlineOffset: 6px;
    }

    @include tabletSmall {
        font-size: var(--fontSizes-72);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 4px;
        ---textUnderlineOffset: 4px;
    }

    @media(min-width: 105em) {
        font-size: var(--fontSizes-208);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }
}

.bannerDataMobile, .bannerDataDesktop{
    letter-spacing: normal;
    zoom: 1.001;
}

.bannerWidth {
    max-width: calc(100vw - 1em);
    line-height: 0.9;
    white-space: initial;
}

.bannerRed {
    background-size: 100% var(---linkUnderlineHeight);
    cursor: pointer;
    color: var(--colors-main);
    margin-bottom: 0.2em;
    transition: all 150ms ease 0s;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to right, currentcolor, currentcolor);
    background-repeat: no-repeat;
    background-position: 0.05em bottom;
    background-origin: border-box;
    padding-right: 0.008em;
    line-height: 0.92;

    @include tablet {
        line-height: 0.94;
    }

    @include desktop {
        line-height: 0.92;
    }

    @media (min-width: 105em) {
        line-height: 0.91;
    }
}

.bannerResponsive {
    @include desktop {
        display: inline;
        margin-left: 0.165em;
    }
}

.bannerDesktop {
    display: none;

    @include desktop {
        display: inline;
    }
}

.bannerMobile {
    display: inline;

    @include desktop {
        display: none;
    }
}

.bannerWhite {
    display: block;
    white-space: nowrap;
}

.banner {
    display: inline-block;
    margin-left: var(--space-6);
    margin-right: var(--space-6);

    @include tablet {
        margin-left: var(--space-15);
        margin-right: var(--space-15);
    }
}

.bannerVideoSpan {
    display: inline-block;
    vertical-align: middle;

    @media (min-width:105em) {
        transform: translateY(14px);
    }

    @include desktop {
        vertical-align: super;
        transform: translateY(4px);
        margin-right: var(--space-5);
        margin-left: -0.15em;
    }

    @include desktopWide {
        margin-right: var(--space-9);
        transform: translateY(8px);
    }
}

.bannerFigcaption {
    width: max-content;
    display: none;
    color: var(--colors-neutral40);
    font-size: var(--fontSizes-13);
    letter-spacing: var(--letterSpacings-0);
    font-weight: var(--fontWeight-weight);
    font-family: var(--font-MaisonNeue);

    @include tablet {
        display: block;
    }
}

.bannerFigure {
    display: grid;
    grid-auto-flow: row;
    row-gap: var(--space-1);
}


.bannerCover {
    display: grid;
    width: 5.5rem;

    @include tablet {
        width: 7.375rem;
    }

    @include desktopWide {
        width: 7.875rem;
    }

    @media (min-width:105em) {
        width: 9.75rem;
    }
}

.bannerBtn {
    display: inline-block;
    margin: 0px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.bannerVideo {
    width: 100%;
    height: auto;
}

.bannerVideoItem {
    place-items: end;
    display: grid;
    position: absolute;
    inset: 0px;
    padding: var(--space-2);

    @media (min-width: 105em) {
        padding: var(--space-3);
    }
}

.btnVideo {
    column-gap: var(--space-5);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: block;
}

.btnVideo_relative {
    position: relative;
    padding: 0;
    width: 100%;
    border: none;
    background: transparent;

    @include desktop {
        grid-column: 1 / span 2;
    }
}

.workBannerTextClear{
    display: none;
    @include tablet {
        display: inline;
    }
}

.bannerBox {
    opacity: 1;
    white-space: nowrap;
}

.bannerText {
    overflow: hidden;
    display: inline-block;
}

.bannerData {
    display: inline-block;
}

.workImgBox {
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 5.25rem;
    margin-left: var(--space-3);
    width: 11.25rem;
    margin-left: var(--space-6);

    @include desktop {
        width: 15rem;
        margin-left: 0px;
    }

    @media (min-width:105em) {
        width: 19.375rem;
    }
}

.workSVG {
    width: 0.75rem;
    height: 3.125rem;

    @include tablet {
        width: 1.375rem;
        height: 6rem;
    }

    @include desktop {
        width: 1.875rem;
        height: 8.125rem;
    }

    @media(min-width: 105em) {
        width: 2.25rem;
        height: 9.75rem;
    }
}

.workImgLogo {
    position: relative;
    display: inline-grid;
    place-items: center;
    transform: translate3d(5%, 0px, 0px);

    @include desktop {
        transform: translate3d(10%, 0px, 0px) scale(1.2);
    }

    @media (min-width:105em) {
        transform: translate3d(10%, 0px, 0px) scale(1.4);
    }
}

.workImgBg {
    padding: 0px;
    border: none;
    margin: 0px;
    display: block;
    max-width: 100%;
}

.workImg {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.textClear {
    margin: 0px;
    color: var(--colors-title);
    font-family: var(--fonts-Rift);
    zoom: 1.001;
    font-weight: var(--fontWeights-bold);
    text-transform: uppercase;
    font-feature-settings: "tnum";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--colors-title);
    -webkit-text-stroke-width: 2.5px;
    display: none;

    @include desktop {
        display: inline;
        font-size: inherit;
    }
}

.scrollToDiscover {
    color: var(--colors-white);
    font-size: var(--fontSizes-12);
    font-weight: var(--fontWeights-demi);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacings-0);

    @media (min-width:105em) {
        font-size: var(--fontSizes-13);
    }
}

.scrollBox {
    display: none;

    @include tablet {
        display: inline;
    }
}

.scrollTitle {
    position: absolute;
    inset: auto 0px 0px;
    display: flex;
    align-items: center;
    padding: 0 var(--space-5) var(--space-5);
    justify-content: center;

    @include tablet {
        padding: 0 var(--space-10) var(--space-10);
    }

    @include desktop {
        padding: 0 var(--space-15) var(--space-10);
    }

    @include desktopWide {
        padding: 0 var(--space-20) var(--space-10);
    }

    @media (min-width:105em) {
        padding: 0 var(--space-20) var(--space-10);
    }
}

.workBanner {
    margin: 0px;
    color: var(--colors-title);
    font-family: var(--fonts-Rift);
    zoom: 1.001;
    font-weight: var(--fontWeights-bold);
    text-transform: uppercase;
    font-feature-settings: "tnum";
    font-size: var(--fontSizes-64);
    letter-spacing: var(--letterSpacings-1);
    line-height: 0.95;
    ---linkUnderlineHeight: 4px;
    ---textUnderlineOffset: 4px;

    @media (min-width: 23.4375em) {
        font-size: var(--fontSizes-72);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 4px;
        ---textUnderlineOffset: 4px;
    }

    @include tablet {
        font-size: var(--fontSizes-128);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 6px;
        ---textUnderlineOffset: 6px;
    }
    @include desktop {
        font-size: var(--fontSizes-176);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }
    @media (min-width: 105em){
        font-size: var(--fontSizes-208);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }
}