
:root {
  --colors-white: hsl(0, 0%, 100%);
  --colors-neutral95: hsl(0, 0%, 95%);
  --colors-neutral90: hsl(0, 0%, 90%);
  --colors-neutral80: hsl(0, 0%, 80%);
  --colors-neutral65: hsl(0, 0%, 65%);
  --colors-neutral50: hsl(0, 0%, 50%);
  --colors-neutral40: hsl(0, 0%, 40%);
  --colors-neutral20: hsl(0, 0%, 20%);
  --colors-neutral15: hsl(0, 0%, 16%);
  --colors-neutral10: hsl(0, 0%, 10%);
  --colors-neutral3: hsl(0, 0%, 3%);
  --colors-black: hsl(0, 0%, 0%);
  --colors-red: hsl(350, 90%, 49%);
  --colors-redHover: hsl(350, 100%, 55%);
  --colors-redPressed: hsl(350, 90%, 42%);
  --colors-green: hsl(135, 64%, 50%);
  --colors-yellow: hsl(50, 100%, 52%);
  --colors-orange: hsl(3, 100%, 61%);
  --colors-primary: var(--colors-white);
  --colors-secondary: var(--colors-neutral65);
  --colors-tertiary: var(--colors-neutral15);
  --colors-main: var(--colors-red);
  --colors-mainHover: var(--colors-redHover);
  --colors-mainPressed: var(--colors-redPressed);
  --colors-text: var(--colors-neutral65);
  --colors-body: var(--colors-text);
  --colors-title: var(--colors-white);
  --colors-label: var(--colors-neutral40);
  --colors-background: var(--colors-neutral3);
  --colors-navMenuBackground: var(--colors-neutral10);
  --colors-searchBackground: var(--colors-neutral3);
  --colors-success: var(--colors-green);
  --colors-warning: var(--colors-yellow);
  --colors-error: var(--colors-orange);
  --fonts-MaisonNeue: "Maison Neue", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --fonts-Rift: Rift, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --fonts-monospace: "Maison Neue Mono", "Consolas", "SF Mono", monospace;
  --fonts-body: var(--fonts-MaisonNeue);
  --fonts-title: var(--fonts-Rift);
  --fontSizes-12: 0.75rem;
  --fontSizes-13: 0.8125rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-22: 1.375rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-26: 1.625rem;
  --fontSizes-27: 1.6875rem;
  --fontSizes-28: 1.75rem;
  --fontSizes-32: 2rem;
  --fontSizes-42: 2.625rem;
  --fontSizes-48: 3rem;
  --fontSizes-52: 3.25rem;
  --fontSizes-56: 3.5rem;
  --fontSizes-60: 3.75rem;
  --fontSizes-64: 4rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-100: 6.25rem;
  --fontSizes-108: 6.75rem;
  --fontSizes-116: 7.25rem;
  --fontSizes-128: 8rem;
  --fontSizes-140: 8.75rem;
  --fontSizes-168: 10.5rem;
  --fontSizes-176: 11rem;
  --fontSizes-188: 11.75rem;
  --fontSizes-208: 13rem;
  --fontSizes-240: 15rem;
  --fontSizes-276: 17.25rem;
  --fontSizes-440: 27.5rem;
  --fontSizes-540: 33.75rem;
  --fontSizes-720: 45rem;
  --fontSizes-body: var(--fontSizes-16);
  --fontWeights-book: 350;
  --fontWeights-medium: 400;
  --fontWeights-demi: 600;
  --fontWeights-bold: 700;
  --radii-1: 0.0625rem;
  --radii-2: 0.0625rem;
  --radii-circle: 6249.9375rem;
  --letterSpacings-0: -0.01em;
  --letterSpacings-1: -0.02em;
  --letterSpacings-2: -0.025em;
  --letterSpacings-3: -0.03em;
  --letterSpacings-4: -0.015em;
  --borderWidths-1: 0.0625rem;
  --borderWidths-2: 0.125rem;
  --transitions-instant: 0ms;
  --transitions-x-fast: 120ms;
  --transitions-fast: 160ms;
  --transitions-normal: 200ms;
  --transitions-slow: 250ms;
  --transitions-x-slow: 420ms;
  --transitions-backgroundColor: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  --sizes-1: 0.5rem;
  --sizes-2: 1rem;
  --sizes-3: 1.5rem;
  --sizes-4: 2rem;
  --sizes-5: 2.5rem;
  --sizes-6: 3rem;
  --sizes-7: 3.5rem;
  --sizes-8: 4rem;
  --sizes-9: 4.5rem;
  --sizes-10: 4.75rem;
  --sizes-headerSmallHeight: var(--sizes-8);
  --sizes-headerMediumHeight: 5.25rem;
  --sizes-headerLargeHeight: 6.5rem;
  --sizes-maxContentWidth: 110rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
  --space-13: 3.25rem;
  --space-14: 3.5rem;
  --space-15: 3.75rem;
  --space-16: 4rem;
  --space-18: 4.5rem;
  --space-20: 5rem;
  --space-21: 5.25rem;
  --space-22: 5.5rem;
  --space-23: 5.75rem;
  --space-24: 6rem;
  --space-25: 6.25rem;
  --space-26: 6.5rem;
  --space-27: 6.75rem;
  --space-29: 7.25rem;
  --space-30: 7.5rem;
  --space-32: 8rem;
  --space-33: 8.25rem;
  --space-35: 8.75rem;
  --space-36: 9rem;
  --space-37: 9.25rem;
  --space-38: 9.5rem;
  --space-39: 9.75rem;
  --space-40: 10rem;
  --space-42: 10.5rem;
  --space-47: 11.75rem;
  --space-49: 12.25rem;
  --space-50: 12.5rem;
  --space-51: 12.75rem;
  --space-52: 13rem;
  --space-54: 13.5rem;
  --space-55: 13.75rem;
  --space-59: 14.75rem;
  --space-60: 15rem;
  --space-61: 15.25rem;
  --space-63: 15.75rem;
  --space-67: 16.75rem;
  --space-75: 18.75rem;
  --space-100: 25rem;
  --space-headerSmallHeight: var(--space-16);
  --space-headerMediumHeight: var(--space-22);
  --space-headerLargeHeight: var(--space-26);
  --zIndices-footer: 100;
  --zIndices-pageContent: 300;
  --zIndices-header: 420;
  --zIndices-navigation: 500;
  --zIndices-cursor: 600;
  --zIndices-headerNavigationVisible: 700;
  --zIndices-blogSearch: 800
}

/* .t-gYcwRG {
  --colors-primary: var(--colors-black);
  --colors-secondary: var(--colors-neutral40);
  --colors-tertiary: var(--colors-neutral90);
  --colors-body: var(--colors-black);
  --colors-background: var(--colors-white);
  --colors-label: var(--colors-neutral40);
  --colors-title: var(--colors-black);
  --colors-searchBackground: var(--colors-white)
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  height: 100%
}
::-webkit-scrollbar {
  width: 5px;
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: none;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
#__next {
  height: 100%;
  isolation: isolate
}

#root {
  height: 100%;
  isolation: isolate
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
  display: block
}

*[hidden] {
  display: none
}

body {
  position: relative;
  color: var(--colors-body);
  background: var(--colors-background);
  font-family: var(--fonts-MaisonNeue);
  font-weight: 500;
  text-rendering: optimizeSpeed;
  overscroll-behavior-y: none;
  
}

body.overflow-hidden {
  overflow: hidden
}

ol,ul {
  list-style: none
}

button {
  appearance: auto;
  text-rendering: auto;
  word-spacing: normal;
  line-height: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  writing-mode: horizontal-tb !important;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-image: initial;
}


/* Custom Swiper CSS */
.swiperSection .swiper-pagination-bullet-active {
  background: var(--colors-neutral40) !important;
}

.swiperSection .swiper-pagination-bullet {
  height: 0.125rem;
  width: clamp(1rem, 10%, 4rem);
  border: none;
  border-radius: unset;
  background: var(--colors-neutral15);
  opacity: 1;
  margin: 0px !important;
}

.swiperSection .c-ibiPcy .swiper-pagination.swiper-pagination {
  line-height: 0;
  bottom: 0px !important;
}

.swiperSection .swiper-wrapper {
  padding-bottom: 4px;
  margin-bottom: var(--space-5);
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiperSection .swiper-wrapper .swiper-slide:first-of-type {
  margin-left: var(--space-5);
}

@media (min-width: 48em) {
  .swiperSection .swiper-wrapper {
    margin-bottom: var(--space-11);
  }
  .swiperSection .swiper-wrapper .swiper-slide:first-of-type {
    margin-left: var(--space-10);
  }
}

@media (min-width: 80em) {
  .swiperSection .swiper-wrapper {
    margin-bottom: var(--space-15);
  }
  .swiperSection .swiper-wrapper .swiper-slide:first-of-type {
    margin-left: var(--space-15);
  }
}

@media (min-width: 90em) {
  .swiperSection .swiper-wrapper .swiper-slide:first-of-type {
    margin-left: var(--space-20);
  }
}

@media (min-width: 105em) {
  .swiperSection .swiper-wrapper {
    margin-bottom: var(--space-20);
  }
}