@use '../../../styles/index.module.scss' as *;

.navMenu_line {
    display: grid;
    grid-auto-flow: row;
    gap: var(--space-6);
    justify-items: start;
    transform-origin: center bottom;
    overflow: hidden;
    @include tablet {
        gap: var(--space-6);
    }
    @include desktop {
        align-items: center;
        justify-content: center;
        grid-auto-flow: column;
        gap: var(--space-11);
    }
}

.navMenu_line:not(:last-of-type){
    margin-bottom: var(--space-4);
    @include desktop {
        margin-bottom: 0px;
    }
    @include tablet {
        margin-bottom: var(--space-6);
    }
    
}

.navMenu_line_positon{
    position: relative;
    z-index: 0;
}