@use '../../styles/index.module.scss' as *;

.bannerMainLayout{
    font-size: var(--fontSizes-64);
    letter-spacing: var(--letterSpacings-1);
    line-height: 0.95;
    ---linkUnderlineHeight: 4px;
    ---textUnderlineOffset: 4px;
    margin: 0px;
    color: var(--colors-title);
    font-family: var(--font-Rift);
    zoom: 1.001;
    font-weight: var(--fontWeight-bold);
    text-transform: uppercase;
    font-feature-settings: 'tnum';

    @media(min-width: 120em){
        font-size: var(--fontSizes-240);
        letter-spacing: var(--letterSpacings-2);
        line-height: 0.85;
        ---linkUnderlineHeight: 10px;
        ---textUnderlineOffset: 10px;
    }

    @media(min-width: 105em){
        font-size: var(--fontSizes-208);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }

    @include desktop {
        font-size: var(--fontSizes-176);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 8px;
        ---textUnderlineOffset: 8px;
    }

    @include tablet{
        font-size: var(--fontSizes-128);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 6px;
        ---textUnderlineOffset: 6px;
    }

    @include tabletSmall{
        font-size: var(--fontSizes-72);
        letter-spacing: var(--letterSpacings-1);
        line-height: 0.85;
        ---linkUnderlineHeight: 4px;
        ---textUnderlineOffset: 4px;
    }
}